# ssl settings
ssl.keystore.location: /var/ssl/private/kafka1.kafka_network.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: /var/ssl/private/kafka1.kafka_network.truststore.jks
ssl.truststore.password: serverpassword

# schema registry settings
ksql.schema.registry.url: https://schema1:8081