# broker settings
bootstrap.servers: localhost:9092
security.protocol: SSL
ssl.keystore.location: ../../../certs/kafka1.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: ../../../certs/kafka1.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# cluster linking
topic.config.sync.ms: 5000
auto.create.mirror.topics.enable: true
auto.create.mirror.topics.filters: {\
  \"topicFilters\"\: [\
    {\
      \"name\": \"_\",\
      \"patternType\": \"PREFIXED\",\
      \"filterType\": \"EXCLUDE\"\
    },\
    {\
      \"name\": \"app1\",\
      \"patternType\": \"PREFIXED\",\
      \"filterType\": \"INCLUDE\"\
    }\
  ]\
}
consumer.offset.sync.enable: true
consumer.offset.sync.ms: 15000
consumer.offset.group.filters: {\
  \"groupFilters\": [\
    {\
      \"name\": \"*\",\
      \"patternType\": \"LITERAL\",\
      \"filterType\": \"INCLUDE\"\
    }\
  ]\
}

acl.sync.enable: false
acl.filters: {\
  \"aclFilters\": [\
    {\
      \"resourceFilter\": {\
        \"resourceType\": \"any\",\
        \"patternType\": \"any\"\
      },\
      \"accessFilter\": {\
        \"operation\": \"any\",\
        \"permissionType\": \"any\"\
      }\
    }\
  ]\
}