# broker settings
bootstrap.servers: kafka4:29097,kafka5:29098,kafka6:29099
security.protocol: SSL
ssl.keystore.location: /var/ssl/private/kafka4.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: /var/ssl/private/kafka4.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# producer settings
acks=all

# schema registry settings
schema.registry.url: https://schema2:8082
schema.registry.ssl.keystore.location: /var/ssl/private/kafka4.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: /var/ssl/private/kafka4.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper
zookeeper.connect: zoo4:2184,zoo5:2185,zoo6:2186
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: /var/ssl/private/kafka4.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: /var/ssl/private/kafka4.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword