# broker settings
bootstrap.servers: localhost:9096
security.protocol: SSL
ssl.keystore.location: ../../../certs/kafka4.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: ../../../certs/kafka4.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# producer settings
acks=all

# schema registry settings
schema.registry.url: https://localhost:8082
schema.registry.ssl.keystore.location: ../../../certs/kafka4.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: ../../../certs/kafka4.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper
zookeeper.connect: localhost:2184,localhost:2185,localhost:2186
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: ../../../certs/kafka4.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: ../../../certs/kafka4.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword