bootstrap.servers=kafka1.mycompany.com:29093,kafka2.mycompany.com:29094,kafka3.mycompany.com:29095
security.protocol=SASL_SSL
# SSL
ssl.keystore.location=/var/ssl/private/kafka1.mycompany.com.keystore.jks
ssl.keystore.password=serverpassword
ssl.truststore.location=/var/ssl/private/kafka1.mycompany.com.truststore.jks
ssl.truststore.password=serverpassword
# SASL Auth
sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
    useKeyTab=true \
    storeKey=true \
    debug=true \
    keyTab="/etc/security/keytabs/admin.keytab" \
    principal="admin@MYCOMPANY.COM";
# producer settings
acks=all
# schema registry settings
schema.registry.url: https://schema1:8081
schema.registry.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper settings
zookeeper.connect: zoo1.kafka-network:2181,zoo2.kafka-network:2182,zoo3.kafka-network:2183
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword
zookeeper.sasl.client: true
zookeeper.sasl.client.username: kafka
zookeeper.set.acl: true
