# broker settings
bootstrap.servers: kafka1.mycompany.com:9093,kafka2.mycompany.com:9094,kafka3.mycompany.com:9095
security.protocol: SASL_SSL
ssl.keystore.location: ../../../certs/client.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: ../../../certs/client.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# SASL Auth
sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
    useKeyTab=true \
    storeKey=true \
    keyTab="../../../kerberos/keytabs/client.keytab" \
    principal="client@MYCOMPANY.COM";

# producer settings
acks=all

# schema registry settings
schema.registry.url: https://localhost:8081
schema.registry.ssl.keystore.location: ../../../certs/client.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: ../../../certs/client.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper settings
zookeeper.connect: zoo1.mycompany.com:2181,zoo2.mycompany.com:2182,zoo3.mycompany.com:2183
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: /var/ssl/private/client.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: /var/ssl/private/client.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword
zookeeper.sasl.client: true
zookeeper.sasl.client.username: client
zookeeper.set.acl: true
