# broker settings
bootstrap.servers: lb:29092
security.protocol: SSL
ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# producer settings
acks=all

# schema registry settings
schema.registry.url: https://schema1:8081
schema.registry.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper settings
zookeeper.connect: zoo1:2181,zoo2:2182,zoo3:2183
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword