# broker settings
bootstrap.servers: localhost:9092

# producer settings
acks=all

# schema registry settings
schema.registry.url: http://localhost:8081

# zookeeper
zookeeper.connect: localhost:2181,localhost:2182,localhost:2183
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty