# broker settings
bootstrap.servers: localhost:9092
security.protocol: SASL_SSL
ssl.keystore.location: ../../../certs/kafka1.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: ../../../certs/kafka1.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# auth
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="kafka" \
   password="kafka-secret";

# producer settings
acks=all

# schema registry settings
schema.registry.url: https://localhost:8081
schema.registry.ssl.keystore.location: ../../../certs/kafka1.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: ../../../certs/kafka1.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper settings
zookeeper.connect: zoo1:2181,zoo2:2182,zoo3:2183
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword
zookeeper.sasl.client: true
zookeeper.sasl.client.username: kafka
zookeeper.set.acl: true