# broker settings
bootstrap.servers: kafka1.mycompany.com:29093,kafka2.mycompany.com:29094,kafka3.mycompany.com:29095
security.protocol: SSL
ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

# producer settings
acks=all

# schema registry settings
schema.registry.url: https://schema1:8081
schema.registry.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
schema.registry.ssl.keystore.password: serverpassword
schema.registry.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
schema.registry.ssl.truststore.password: serverpassword

# zookeeper
zookeeper.connect: zoo1.mycompany.com:2181,zoo2.mycompany.com:2182,zoo3.mycompany.com:2183
zookeeper.clientCnxnSocket: org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable: true
zookeeper.ssl.keystore.location: /var/ssl/private/kafka1.mycompany.com.keystore.jks
zookeeper.ssl.keystore.password: serverpassword
zookeeper.ssl.truststore.location: /var/ssl/private/kafka1.mycompany.com.truststore.jks
zookeeper.ssl.truststore.password: serverpassword